/* You can add global styles to this file, and also import other style files */

.m-b-8{
    margin-bottom: 8px !important;
}

.m-t-16{
    margin-top: 16px;
}

.header{
    padding: 8px 0;
    span{
        font-size: 16px;
        font-weight: bold;
    }
}